global:
  app_name: "livo"
  purpose: "LIVO API"
redis_exporter:
  enabled: false
  redis_host: "127.0.0.1"
  redis_port: 6379
  redis_password: ""
  receiver_url: "http://157.245.207.91:4000/metrics/redis"
  export_interval: 30  # seconds
  receiver_url_logs: "http://127.0.0.1:4000/logs/redis"
  error_export_interval: 60   # seconds
  redis_log_file: "/var/log/redis/redis-server.log"
  log_check_interval: 300     # every 5 minutes
  max_logs_per_batch: 100     # cap at 100 logs per run

mysql_exporter:
  enabled: false
  mysql_host: "127.0.0.1"
  mysql_port: 1278
  mysql_user: 'livoadmin'
  mysql_password: 'LIV0@#aeoer@'
  receiver_url: "http://157.245.207.91:4000/metrics/mysql"
  export_interval: 30
  receiver_url_logs: "http://157.245.207.91:4000/logs/mysql"
  mysql_log_file: "/var/log/mysql/error.log"
  log_check_interval: 300     # every 5 minutes
  max_logs_per_batch: 100     # cap at 100 logs per run

mongodb_exporter:
  enabled: false
  mongo_uri: "mongodb://livoadmin:LIV0%40%23aeoer%40@127.0.0.1:27017/admin"
  export_interval: 30
  receiver_url: "http://157.245.207.91:4000/metrics/mongo"
  receiver_url_logs: "http://157.245.207.91:4000/logs/mongo"
  mongo_log_file: "/var/log/mongodb/mongod.log"
  log_check_interval: 300
  max_logs_per_batch: 100

linux_exporter:
  enabled: true
  interval: 30
  receiver_url: "http://157.245.207.91:4000/metrics/linux"
  
slow_query_exporter:
  enabled: false
  export_interval: 30
  receiver_url: "http://157.245.207.91:4000/metrics/slow_queries"

  # Mongo
  mongo_uri: "mongodb://livoadmin:LIV0%40%23aeoer%40@127.0.0.1:27017/admin"
  mongo_db: "livolive"
  mongo_slow_threshold_ms: 100

  # MySQL
  mysql_host: "127.0.0.1"
  mysql_port: 1278
  mysql_user: "livoadmin"
  mysql_password: "LIV0@#aeoer@"
  max_queries: 50

api_log_exporter:
  enabled: true
  export_interval: 60
  receiver_url: http://157.245.207.91:4000/metrics/api_log

  sources:
    - type: nginx
      enabled: false
      name: nginx_prod
      access_log_path: /var/log/nginx/access.log
      log_window_minutes: 1
      max_logs: 10000

    - type: mongoose
      enabled: true
      name: mongoose_logs
      mongo_uri: mongodb://livoadmin:LIV0%40%23FASxl1@165.232.160.131:4589/livolive?authSource=livolive
      collection: logs
      log_window_minutes: 1
      max_logs: 20000
      
scheduler_exporter:
  enabled: true
  export_interval: 60
  receiver_url: "http://157.245.207.91:4000/metrics/scheduler"

  sources:
    - type: cron
      enabled: true
      name: "system_cron"
      syslog_path: "/var/log/syslog"
      log_window_minutes: 30
      max_logs: 200

    - type: systemd
      enabled: true
      name: "systemd_timers"
      log_window_minutes: 30
      max_logs: 200